.welcome-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--image {
      background: url("../../../assets/img/default_image_complete_solar.jpg")
        no-repeat center;
      background-size: cover;
      height: 70px;
      width: 200px;
    }

    &--title {
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: center;
      text-transform: capitalize;
    }
  }

  &__content {
    min-height: 50vh;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(116, 116, 116);
    background: url("../../../assets/img/stock_picture_solar_panels_on_roof.jpg")
      no-repeat center;
    background-size: cover;
  }
}
