<div class="layout">
  <div class="layout__sidebar">
    <mat-list>
      <ng-container *ngFor="let sidebarItem of sidebarMenuItems">
        <mat-list-item
          routerLink="{{ sidebarItem.link }}"
          routerLinkActive="active"
        >
          {{ sidebarItem.title }}
        </mat-list-item>
      </ng-container>
    </mat-list>
    <button routerLink="/cart" mat-flat-button>Checkout</button>
  </div>
  <div class="layout__main-content">
    <div class="layout__main-content--component">
      <router-outlet></router-outlet>
    </div>
    <div class="layout__footer">
      <div class="layout__footer--divider-block"></div>
      <ng-container *ngIf="isWelcomePageShown">
        <div class="layout__footer-contact-info">
          <div class="layout__footer-contact-info--expert">
            Your solar Expert: Josh Webb
          </div>
          <div class="layout__footer-contact-info--phone">
            Phone: (877) 299-4943
          </div>
          <div class="layout__footer-contact-info--email">
            Email: jwebb@completesolar.com
          </div>
          <div class="layout__footer-contact-info--website">
            Website: completesolar.com
          </div>
          <div class="layout__footer-contact-info--licence">
            Contractor license: 961988
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!isFinalPage">
        <div
          (click)="navigateToNextState()"
          class="layout__footer--next-button"
        >
          <button mat-flat-button>Next</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<app-feedback-circle></app-feedback-circle>
