.support_feedback_circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(99, 173, 177);
  background-image: url("../../../../assets/img/support_feedback_image.png");
  cursor: pointer;
}
